@import "../utils/variables";
@import "../utils/mixins";

.cause {
    background-color: $gris;
    @include fc;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 25% 50px;
    height: 900px;
    
}

@media (max-width: 400px) {
    .cause {
        padding: 20px;
    }
}

.be {
    @include fc;
    justify-content: space-around;
    text-align: center;
}

.btn {
    @include botones($blanco, #5E72E4);
    margin-right: 10px;
    padding: 8px 15px;  
}

.btn2 {
    @include botones($celeste, $blanco);
    padding: 8px 18px;  
}

.circ {
    @include logos;
    width: 90px;
    height: 90px;
    font-size: 50px;
    margin: 11px;
}

@media (max-width: 400px) {
    .circ {
        width: 60px;
        height: 60px;
        font-size: 30px;        
    }
}

.tecno {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}